*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

:root{

    --clr-orange: #F66B0E;
    --clr-orange-light: #FFF8F0;
    --clr-black: #112B3C;
    --clr-black-light: #828282;
    --clr-white: #FFFFFF;


    --fw-regular: 400;
    --fw-bold: 700; 

    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-36: 2.25rem;
    --fs-64: 4rem;
    --fs-96: 6rem;
}

.header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    /* border: 2px solid blue; */
    
}
.nav{
    /* border: 2px solid #112B3C; */
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    max-width: 1440px;
}
.menu-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.menu-link{
    color: var(--clr-black);
}
.nav-cta{
    /* border: 2px solid #112B3C;  */
    display: flex;
    gap: 40px;
    padding: 10px 0px ;
    justify-content: space-between;
    align-items: center;

}
   
.button{
    all: unset;
    color: var(--clr-white);
    padding: 10px 20px;
    background-color: var(--clr-orange);
}

h2{
    font-size: var(--fs-64);
    font-weight: var(--fw-bold) ;
}
h3{
    font-size: var(--fs-24);
    font-weight: var(--fw-bold);
}
h4{
    font-size: var(--fs-20);
    font-weight: var(--fw-regular);
    color: var(--clr-black-light);
}
h5{
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
}

.title-subtitle-heading{
    /* border: 2px solid blue; */
    margin: 80px 235px 0px 235px;
    text-align: center;
    font-size: var(--fs-96);
}

.title-subtitle h4{
    /* border: 2px solid black; */
    margin: 40px 339px 0px 335px;
    text-align: center;
}
/* .title-subtitle img{
    position: absolute;
    top: 237px ;
    right: 375px;
} */
.search-bar{
    /* border: 2px solid black; */
    height: 100px;
    width: 770px;
    margin: 40px auto -40px;
    background: #ffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    /* border: 2px solid black; */
    margin: auto;
    width: 667px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar{
    all: unset;
    font-weight: var(--fw-regular);
    font-size: var(--fs-20);
}
.img{
    display: block;
    margin: auto;
}

.about-us{
    width: 50%;
    margin-left: 135px;
}
.about-us{
    /* border: 1px solid black; */
    width: 80%;
    max-width: 1440px;
    margin: auto;
}
.aboutus__bottom{
    display: flex;

}
.left-aboutus{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;

}
.steps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 33px;
    /* margin: 100px auto; */
}
.num{
    color: #F66B0E;
}




.grid{
    /* border: 1px solid black; */
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 270px );
    grid-template-rows: minmax(min-content, max-content);
    width: 570px;
    height: 663px;
}
.row1{
    display: grid;
    row-gap: 30px;
    align-items: flex-end;
    padding-top: 76px;
}
.row2{
    display: grid;
    row-gap: 30px;
    align-items: flex-start;
}

/* Products page */

/* Navigation */
.header__prod{
    margin: 100px auto 200px;
}
.header__prod h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.prod-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* Products Lists */
.prod{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    column-gap: 30px;
    row-gap: 203px;

    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px; */

    /* border: 1px solid black; */
    max-width: 1440px;
    width: 80%;
    margin: auto;
}
.prod-content{
    /* border: 2px solid red; */
    background: #FFF8F0;
    width: 270px;
    height: 220px;
    position: relative;
}
.prod-content img{
    position: absolute;
    bottom: 143px;
    left: 46px;
}
.name-tag{
    /* border: 1px solid black; */
    /* margin: 0 16% 20px 16%; */
    position: absolute;
    width: 82.5%;
    height: 30%;
    line-height: 160%;
    bottom: 8.2%;
    left : 8%;
}

/* testimonial container styling */
.title h2{
    margin: 80px 0 60px 135px;
}

.testimonial__container{
    /* display: none; */
    /* border: 2px solid orangered; */
    color: #FFFFFF;
    background: #112B3C;
    margin: 100px auto;
    max-width: 1440px;
    height: 86.2vh;
}
.testi-content{
    /* border: #FFFFFF 2px solid; */
    width: 85%;
    margin: 60px auto 76px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testi-content-left{
    width: 50%;
    /* border: #F66B0E 2px solid; */
}
.testi-content__right{
    width: 45%;
    /* border: #F66B0E 2px solid; */

}
.t{
    display: inline-block;
}
.star{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.testi-content__right h3{
    line-height: 45px;
    margin-bottom: 24px;
}
.testi-content__right h4{
    color: #FFFFFFCC;
    line-height: 160%;
}
#wade{
    color: #F66B0E;
    line-height: 100%;
    /* margin: 24px 0px 0px 6px ; */
}
#arrow{
    position: absolute;
    right: 0%;
    bottom: 50px;
}